{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}
<h2>Administrator Dashboard</h2>

<div id="adminView">
  <p id="welcome">
    Welcome {{user.firstName}} {{user.lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}. You get super secret administrator access since you are an admin. Remember, with great power comes great responsibility!!
  </p>

  <p id="quote">Favorite Quote: {{user.favoriteQuote}}</p>

  <a id="userLink" href="/user">User Page</a>
  <a id="signoutLink" href="/signoutuser">Sign out</a>
</div>
