{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}
<h2>User Dashboard</h2>

<div id="userView">
  <p id="welcome">
    Welcome {{user.firstName}} {{user.lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}. Your role in the system is: {{user.role}}.
  </p>

  <p id="quote">Favorite Quote: {{user.favoriteQuote}}</p>

  {{#if isAdmin}}
    <a id="adminLink" href="/administrator">Administrator Page</a>
  {{/if}}

  <a id="signoutLink" href="/signoutuser">Sign out</a>
</div>
